{% extends 'base.html' %}

{% block morehead %}
<title>Profitability - Add Job</title>
{% endblock %}

{% block morejs %}
  {{ form.media }}
  <script>
    $('select#id_employee option').mousedown(function(e) {
      e.preventDefault();
      $(this).prop('selected', !$(this).prop('selected'));
      return false;
    });
  </script>
{% endblock %}

{% block body %}
<main class="container">
  <form method="post">
    {% csrf_token %}

    <div class="form-row">
      <div class="form-group col-md-6 col-sm-12">
        {{ form.name.errors }}
        {{ form.name.label_tag }} {{ form.name }}
      </div>

      <div class="form-group col-md-6 col-sm-12">
        {{ form.revenue.errors }}
        {{ form.revenue.label_tag }} {{ form.revenue }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 col-sm-12">
        {{ form.employee.errors }}
        {{ form.employee.label_tag }} {{ form.employee }}
      </div>

      <div class="form-group col-md-6 col-sm-12">
        {{ form.job_type.errors }}
        {{ form.job_type.label_tag }} {{ form.job_type }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 col-sm-12">
        {{ form.date.errors }}
        {{ form.date.label_tag }} {{ form.date }}
      </div>

      <div class="form-group col-md-4 col-sm-12">
        {{ form.clock_in.errors }}
        {{ form.clock_in.label_tag }} {{ form.clock_in }}
      </div>

      <div class="form-group col-md-4 col-sm-12">
        {{ form.clock_out.errors }}
        {{ form.clock_out.label_tag }} {{ form.clock_out }}
      </div>
    </div>

    <div>
      <button class="btn btn-success" type="submit">Save</button>
    </div>
  </form>
</main>
{% endblock %}
