{% extends 'base.html' %}

{% block morehead %}
<title>Profitability - Add Job</title>
{% endblock %}

{% block body %}
<main class="container">
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      {{ form.name.errors }}
      {{ form.name.label_tag }} {{ form.name }}
    </div>

    <div class="form-group">
      {{ form.revenue.errors }}
      {{ form.revenue.label_tag }} {{ form.revenue }}
    </div>

    <div class="form-group">
      {{ form.employee.errors }}
      {{ form.employee.label_tag }} {{ form.employee }}
    </div>

    <div class="form-group">
      {{ form.job_type.errors }}
      {{ form.job_type.label_tag }} {{ form.job_type }}
    </div>

    <div>
      <button class="btn btn-success" type="submit">Save</button>
    </div>
  </form>
</main>
{% endblock %}
