{% extends 'base.html' %}

{% block morehead %}
<title>Profitability</title>
{% endblock %}

{% block morejs %}
  <script>
    $(document).ready(() => {
      const jobsTable = $('#jobs-table').DataTable({
        order: [[ 10, 'desc' ]],
        pageLength: 100,
        lengthMenu: [
          [10, 25, 50, 100, 250, -1],
          [10, 25, 50, 100, 250, 'All'],
        ],
        columnDefs: [
          { className: 'text-right', targets: [4, 10] },
          { responsivePriority: 1, targets: [2, 3, 10] },
          { responsivePriority: 2, targets: [7] },
          { responsivePriority: 3, targets: [4] },
          { responsivePriority: 4, targets: [5, 6] },
          { responsivePriority: 5, targets: [8, 9] },
          { orderSequence: ['desc', 'asc'], targets: [4, 10] },
          { type: 'date', targets: [7], orderData: [7, 8, 9] },
          { type: 'time', targets: [8], orderData: [8, 9] },
          { type: 'time', targets: [9] },
          {
            targets:   [0],
            className: 'control',
            orderable: false,
          },
          {
            targets: [1],
            visible: false,
            searchable: false,
            orderable: false,
          },
          {
            targets: [2],
            orderable: false,
            searchable: false,
          },
        ],
        select: {
          style: 'multi+shift',
        },
        responsive: {
          details: { type: 'column' },
        },
        dom:
          "<'row'<'col-xl-5 col-md-12 col-sm-12'B><'col-xl-3 col-md-6 col-sm-12'l><'col-xl-4 col-md-6 col-sm-12'f>>" +
          "<'row'<'col-sm-12'tr>>" +
           "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        buttons: [
          {
            text: 'Select All',
            enabled: true,
            action: (e, dt, node, config) => {
              const items = dt.table().rows('tr', { filter: 'applied' });
              items.select();
            }
          },
          {
            extend: 'selectNone',
            text: 'Deselect All'
          },
          {
            text: 'Edit',
            extend: 'selected',
            enabled: false,
            action: (e, dt, node, config) => {
              const row = dt.rows({ selected: true }).data();
              window.location.href = '/jobs/' + row[0][1];
            }
          },
          {
            text: 'Delete',
            extend: 'selected',
            enabled: false,
            action: (e, dt, node, config) => {
              const rows = dt.rows({ selected: true }).data().toArray();
              const ids = rows.map((row) => row[1]);
              $.ajax({
                  url: '/jobs/delete',
                  type: 'POST',
                  data: ids.join(','),
                  statusCode: {
                    200: () => {
                      dt.rows({ selected: true }).remove().draw();
                    },
                    400: () => {
                      alert('Unable to delete jobs: ' + ids.join(','));
                    },
                  },
              });
            }
          },
        ],
      });

      jobsTable.on('select deselect', () => {
        const selectedRows = jobsTable.rows({ selected: true }).count();
        const totalRows = jobsTable.page.info().recordsTotal;
        jobsTable.button(0).enable(selectedRows !== totalRows);
        jobsTable.button(2).enable(selectedRows === 1);
        jobsTable.button(3).enable(selectedRows > 0);
      });

      jobsTable.on('order.dt search.dt', () => {
        const order = jobsTable.order();
        if (order[0][0] === 10) {  // 10: Profitability column
          jobsTable.column(2, { search: 'applied', order: 'current' }).nodes().each((cell, i) => {
            cell.innerHTML = i + 1;
          });
        } else {
          jobsTable.column(2).nodes().each((cell) => cell.innerHTML = '');
        }
      }).draw();

      const timeReplace = (match, p1, p2, p3) => {
        p1 = parseInt(p1);
        p2 = parseInt(p2 || 0);
        if (p3 === 'a' && p1 === 12) { p1 = 0 }
        if (p3 === 'p' && p1 !== 12) { p1 = p1 + 12 }
        return p1 + p2 / 60;
      };
      $.fn.dataTable.ext.type.order['time-pre'] = (a) => {
        var x = String(a).replace(/^(\d+){1,2}:{0,1}(\d*){0,2}\ ([ap])\.m\.$/g, timeReplace);
        return parseFloat(x);
      };

      $.fn.dataTable.ext.search.push((settings, data, idx) => {
        const min = Date.parse($('#startDate').val());
        const max = Date.parse($('#endDate').val());
        const date = Date.parse(data[7]) || 0;  // use data for the date column

        if ((!min && !max) || (!min && date <= max) || (min <= date && !max) || (min <= date && date <= max)) {
          return true;
        }
        return false;
      });
      $('#startDate, #endDate').change(() => {
        jobsTable.draw();
      });
    });
  </script>
{% endblock %}

{% block body %}
<div class="container-fluid" style="max-width: 1640px">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-12">
      <a class="btn btn-info" href="{% url 'add_job' %}">Add Job</a>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="startDate">Start Date:</label>
          <input type="date" class="form-control" id="startDate">
        </div>
        <div class="form-group col-12">
          <label for="endDate">End Date:</label>
          <input type="date" class="form-control" id="endDate">
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-12">
      <table id="jobs-table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Rank</th>
            <th>Name</th>
            <th>Revenue</th>
            <th>Job Type</th>
            <th>Employees</th>
            <th>Date</th>
            <th>Clock In</th>
            <th>Clock Out</th>
            <th>Profitability</th>
          </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
          <tr>
            <td></td>
            <td>{{job.pk}}</td>
            <td></td>
            <td>{{job.name}}</td>
            <td>${{job.revenue}}</td>
            <td>{{job.job_type}}</td>
            <td>{{job.employees_str}}</td>
            <td>{{job.date}}</td>
            <td>{{job.clock_in}}</td>
            <td>{{job.clock_out}}</td>
            <td>{{job.profitability}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <form id="ajax-form" hidden>
    {% csrf_token %}
  </form>
</div>
{% endblock %}
